<!DOCTYPE html>
<html>
<head>
  <title>Basic Pong HTML Game</title>
  <meta charset="UTF-8">
  <style>
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  </style>
  <script src="https://pixijs.download/release/pixi.js"></script>
</head>
<body>
<canvas width="750" height="585" id="game"></canvas>


<!--Where: Code taken from https://github.com/ucla-hci/m119/blob/main/m3/views/index.ejs-->
<!--What: Code sets up the template for express html and allows Arduino data to modify DOM elements via javascript-->
<!--Why: With the code template, it is easier to focus on implementation details of how to map IMU data to visuals -->

<script src="https://d3js.org/d3.v7.min.js"></script>

<script type="application/javascript">

let p1 = 0;
let p2 = 0;

const app = new PIXI.Application({width: 200, height: 585, background: '#000000'});
document.body.appendChild(app.view);

const style = new PIXI.TextStyle({fill: ['#ffffff']});

let text1 = new PIXI.Text('Player 1: ' + p1, style);
text1.x = 50;
text1.y = 145;
app.stage.addChild(text1);

let text2 = new PIXI.Text('Player 2: ' + p2, style);
text2.x = 50;
text2.y = 435;
app.stage.addChild(text2);


	const SERVERADDRESS = "http://127.0.0.1:3000"
	// use XML HTTP request to grab data from the server (central)
	let xmlhttp = new XMLHttpRequest()
	xmlhttp.onreadystatechange = function () {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			let responseText = xmlhttp.responseText
			sensorValue1 = parseFloat(JSON.parse(responseText).sensorValue1)
      sensorValue2 = parseFloat(JSON.parse(responseText).sensorValue2)
			//console.log('p1: ' + sensorValue1);
      //console.log('p2: ' + sensorValue2);
		}
	}
	// periodically grab data
	let getData = () => {
		xmlhttp.open("POST", SERVERADDRESS, true)
		xmlhttp.setRequestHeader("Content-type", "application/json")
		xmlhttp.send("")
		setTimeout(() => {
			getData()
		}, 100)
	}
	getData()
</script>

<script type="application/javascript">
const canvas = document.getElementById('game');
const context = canvas.getContext('2d');
const grid = 15;
const paddleHeight = grid * 5; // 80
const maxPaddleY = canvas.height - grid - paddleHeight;

var paddleSpeed = 6;
var ballSpeed = 5;
//What: A pong game made in HTML
//Where: https://gist.github.com/straker/81b59eecf70da93af396f963596dfdc5
//Why: Programming pong is time-consuming, so using an existing version is helpful to focus on the other aspects of M4

const leftPaddle = {
  // start in the middle of the game on the left side
  x: grid * 2,
  y: canvas.height / 2 - paddleHeight / 2,
  width: grid,
  height: paddleHeight,

  // paddle velocity
  dy: 0
};
const rightPaddle = {
  // start in the middle of the game on the right side
  x: canvas.width - grid * 3,
  y: canvas.height / 2 - paddleHeight / 2,
  width: grid,
  height: paddleHeight,

  // paddle velocity
  dy: 0
};
const ball = {
  // start in the middle of the game
  x: canvas.width / 2,
  y: canvas.height / 2,
  width: grid,
  height: grid,

  // keep track of when need to reset the ball position
  resetting: false,

  // ball velocity (start going to the top-right corner)
  dx: ballSpeed,
  dy: -ballSpeed
};

// check for collision between two objects using axis-aligned bounding box (AABB)
// @see https://developer.mozilla.org/en-US/docs/Games/Techniques/2D_collision_detection
function collides(obj1, obj2) {
  return obj1.x < obj2.x + obj2.width &&
         obj1.x + obj1.width > obj2.x &&
         obj1.y < obj2.y + obj2.height &&
         obj1.y + obj1.height > obj2.y;
}

// game loop
let sensorValue1 = 0;
let sensorValue2 = 0;
let rally = 0;
/*
let upGesture1 = false;
let downGesture1 = false;
let upGesture2 = false;
let downGesture2 = false;
let t = 20;
let sampling = false;
let shakes = [];
let intervals = [];
let shakeInterval = null;
let currInterval = 0;
const threshold = 300;
*/
//Sample to find shake timing - end when shaking is missed
/*
setInterval(function (t)
    {return function ()
      {
        //when sampling
        if (sampling) {
          console.log('sampling');
            if (Math.abs(sensorValue1) > threshold) {
              shakes.push(true);
            }
            else {
              shakes.push(false);
            }
            if (shakes.length === 20) {
              let lastShake = 0;
              let shaking = true;
              for (var i = 0; i < 20; i++) {
                if (shaking) {
                  if (shakes[i] === false) {
                    lastShake = (i + 1) * t;
                    shaking = false;
                  }
                }
                else {
                  if (shakes[i] === true) {
                    intervals.push(((i + 1) * t) - lastShake);
                    shaking = true;
                  }
                }
              }
              if (!intervals.length) {
                upGesture1 = false;
                downGesture1 = false;
              }
              else {
                let sum = 0;
                for (var i = 0; i < intervals.length; i++) {
                  sum += intervals[i];
                }
                console.log(intervals);
                shakeInterval = sum / intervals.length;
                console.log(shakeInterval);
                intervals = [];
              }
              sampling = false;
              shakes = [];
            }
          }
        else {
          if (upGesture1) {
            console.log('up');
            console.log(currInterval);
            console.log('Interval:' + shakeInterval);
            leftPaddle.dy = -5;
            currInterval += t;
            if (Math.abs(currInterval - shakeInterval) <= 100) {
              if (Math.abs(sensorValue1) > threshold) {
                currInterval = 0;
              }
            }
            else if (currInterval - shakeInterval > 100) {
              currInterval = 0;
              shakeInterval = 0;
              upGesture1 = false;
            }
          }
          else if (downGesture1) {
            console.log('down');
            console.log(currInterval);
            console.log('Interval:' + shakeInterval);
            leftPaddle.dy = 5;
            currInterval += t;
            if (Math.abs(currInterval - shakeInterval) <= 100) {
              if (Math.abs(sensorValue1) > threshold) {
                currInterval = 0;
              }
            }
            else if (currInterval - shakeInterval > 100) {
              currInterval = 0;
              shakeInterval = 0;
              downGesture1 = false;
            }
          }
          else {
            leftPaddle.dy = 0;
            if (sensorValue1 > threshold) {
              console.log('up');
              console.log(sensorValue1);
              upGesture1 = true;
              leftPaddle.dy = -5;
              sampling = true;
            }
            else if (sensorValue1 < -threshold) {
              console.log('down');
              console.log(sensorValue1);
              downGesture1 = true;
              leftPaddle.dy = 5
              sampling = true;
            }
          }
        }
      }
    }(t), t
  );
*/
function loop() {
  requestAnimationFrame(loop);
  context.clearRect(0,0,canvas.width,canvas.height);

  
  // move paddles by their velocity
  leftPaddle.y += leftPaddle.dy;
  rightPaddle.y += rightPaddle.dy;

  // prevent paddles from going through walls
  if (leftPaddle.y < grid) {
    leftPaddle.y = grid;
  }
  else if (leftPaddle.y > maxPaddleY) {
    leftPaddle.y = maxPaddleY;
  }

  if (rightPaddle.y < grid) {
    rightPaddle.y = grid;
  }
  else if (rightPaddle.y > maxPaddleY) {
    rightPaddle.y = maxPaddleY;
  }

  // draw paddles
  context.fillStyle = 'white';
  context.fillRect(leftPaddle.x, leftPaddle.y, leftPaddle.width, leftPaddle.height);
  context.fillRect(rightPaddle.x, rightPaddle.y, rightPaddle.width, rightPaddle.height);

  // move ball by its velocity
  ball.x += ball.dx;
  ball.y += ball.dy;

  // prevent ball from going through walls by changing its velocity
  if (ball.y < grid) {
    ball.y = grid;
    ball.dy *= -1;
  }
  else if (ball.y + grid > canvas.height - grid) {
    ball.y = canvas.height - grid * 2;
    ball.dy *= -1;
  }

  // reset ball if it goes past paddle (but only if we haven't already done so)
  if ( (ball.x < 0 || ball.x > canvas.width) && !ball.resetting) {
    ball.resetting = true;

    if (ball.x < 0) {
      p2 += 1;
      text2.text = 'Player 2: ' + p2;
    }
    if (ball.x > canvas.width) {
      p1 += 1;
      text1.text = 'Player 1: ' + p1;
    }
    rally = 0;
    // give some time for the player to recover before launching the ball again
    setTimeout(() => {
      ball.resetting = false;
      ball.x = canvas.width / 2;
      ball.y = canvas.height / 2;
      ball.dx = ball.dx > 0 ? ballSpeed : -ballSpeed;
      ball.dy = ball.dy > 0 ? ballSpeed : -ballSpeed;
    }, 400);
  }

  // check to see if ball collides with paddle. if they do change x velocity
  if (collides(ball, leftPaddle)) {
    ball.dx *= -1;
    rally += 1;
    if (rally % 5 === 0) {
      ball.dx = ball.dx > 0 ? ball.dx + 1 : ball.dx - 1;
      ball.dy = ball.dy > 0 ? ball.dy + 1 : ball.dy - 1;
    }
    // move ball next to the paddle otherwise the collision will happen again
    // in the next frame
    ball.x = leftPaddle.x + leftPaddle.width;
  }
  else if (collides(ball, rightPaddle)) {
    ball.dx *= -1;
    rally += 1;
    if (rally % 5 === 0) {
      ball.dx = ball.dx > 0 ? ball.dx + 1 : ball.dx - 1;
      ball.dy = ball.dy > 0 ? ball.dy + 1 : ball.dy - 1;
    }
    
    // move ball next to the paddle otherwise the collision will happen again
    // in the next frame
    ball.x = rightPaddle.x - ball.width;
  }

  // draw ball
  context.fillRect(ball.x, ball.y, ball.width, ball.height);

  // draw walls
  context.fillStyle = 'lightgrey';
  context.fillRect(0, 0, canvas.width, grid);
  context.fillRect(0, canvas.height - grid, canvas.width, canvas.height);

  // draw dotted line down the middle
  for (let i = grid; i < canvas.height - grid; i += grid * 2) {
    context.fillRect(canvas.width / 2 - grid / 2, i, grid, grid);
  }

  /*
  if (sensorValue1 > 40) {
	rightPaddle.dy = paddleSpeed;
  }
  else if (sensorValue1 < -40) {
	rightPaddle.dy = -paddleSpeed;
  }
  else {
	rightPaddle.dy = 0;
  }
  */

  
  if (sensorValue1 < -0.8) {
    leftPaddle.dy = -paddleSpeed;
  }
  else if (sensorValue1 > 0.8) {
    leftPaddle.dy = paddleSpeed;
  }
  else {
    leftPaddle.dy = 0;
  }

  
  if (sensorValue2 < -0.8) {
    rightPaddle.dy = -paddleSpeed;
  }
  else if (sensorValue2 > 0.8) {
    rightPaddle.dy = paddleSpeed;
  }
  else {
    rightPaddle.dy = 0;
  }
  

  

  /*
  leftPaddle.dy = (Math.abs(sensorValue1) < 400) ? (sensorValue1 / 40) : (10 * (sensorValue1 > 0 ? 1 : -1));
  console.log('p1: ' + sensorValue1);

  rightPaddle.dy = (Math.abs(sensorValue2) < 400) ? (sensorValue2 / 40) : (10 * (sensorValue2 > 0 ? 1 : -1));
  console.log('p2: ' + sensorValue2);
  */


  rightPaddle.dy = (rightPaddle.y - ball.y) > 0 ? paddleSpeed : -paddleSpeed;
  if (ball.dx > 0) {
    if (rightPaddle.y - ball.y < 0) {
    rightPaddle.dy = paddleSpeed;
    } 
    else if (rightPaddle.y - ball.y > 0) {
      rightPaddle.dy = -paddleSpeed;
    }
    else {
      rightPaddle.dy = 0;
    }
  }
  else {
    rightPaddle.dy = 0;
  }


}

//Change this so instead of events, use the Arduino data
//console.log(sensorValue1);



// listen to keyboard events to move the paddles
/*
document.addEventListener('keydown', function(e) {

  // up arrow key
  if (e.which === 38) {
    rightPaddle.dy = -paddleSpeed;
  }
  // down arrow key
  else if (e.which === 40) {
    rightPaddle.dy = paddleSpeed;
  }

  // w key
  if (e.which === 87) {
    leftPaddle.dy = -paddleSpeed;
  }
  // a key
  else if (e.which === 83) {
    leftPaddle.dy = paddleSpeed;
  }
});
*/

// listen to keyboard events to stop the paddle if key is released
/*
document.addEventListener('keyup', function(e) {
  if (e.which === 38 || e.which === 40) {
    rightPaddle.dy = 0;
  }

  if (e.which === 83 || e.which === 87) {
    leftPaddle.dy = 0;
  }
});
*/

// start the game
requestAnimationFrame(loop);
</script>
</body>

</html>